<div class="row">
    <div class="columns small-10 small-offset-2" ng-repeat="x in info | filter:{rank: ranking}:true">
        <a id="left-btn" class="fa fa-chevron-circle-left columns small-1" ng-href="#details/{{x.rank-1}}">Pre</a>

        <div><img class="columns small-3" ng-src="data/images/{{x.imdbID}}.jpg"></div>
        <div class="columns small-5 end">
            <div>{{x.title}}</div>
            <div>{{'Rank: '+x.rank}}</div>
            <div>{{x.released}}</div>
            <div>{{'Genre: '+x.genre}}</div>
            <div class="plot">{{x.plot}}</div>
        </div>
        <a id="right-btn" class="fa fa-chevron-circle-right columns small-1 end" ng-href="#details/{{x.rank+1}}">Next</a>
    </div>
</div>